.experimentDay {
    display: inline-block;
    background-color: lightgreen;
    width: 20px;
    height: 20px;
    border: 2px solid blue;
}

.experimentDay.dayFailed {
    background-color: lightcoral;
}
.experimentDay.dayAvoiding {
    border-color: transparent;
}

.weekBarrier {
    display: block;
}

.experiment {
    float: left;
    width: 200px;
    padding: 0 2em;
}

.experiment .experimentDescription{
    min-height: 5em;
}

.globalInfo{
    margin-bottom: 2em;
}
